<template lang="pug">
  div
    p {{msg}}
</template>

<script>
export default {
  name:'app-footer',
  data(){
      return {msg:"Copyright 2018"}
  }
}
</script>

<style scoped>
    p{
        color: var(--colorSecundario);
    }
    div{
        display: flex;
        flex:1;
        align-items: center;
        justify-content: center;
        background-color: var(--colorOscuroPrincipal);
    }
</style>
