<template lang="pug">
  div(class='contenedor-form')
    form(id='form-contacto')
      div(class='fila-form')
        label Nombre:
        input(type='text' placeholder='nombre')
      div(class='fila-form')
        label Email:
        input(type='text' placeholder='email')
      div(class='fila-form')
        label Empresa:
        input(type='text' placeholder='empresa')
      div(class='fila-form')
        label Mensaje:
        textarea(placeholder='mensaje')
      div(class='fila-form')
        button(type='submit' id='btn-form-contacto' v-on:click="enviar") Enviar

</template>

<script>
export default {
  data(){
      return {
        //   info
      }
  },
  methods:{
      enviar: function(){
        //   this.$router.push('/');
          fetch("/endpoint-api", {method: 'POST', headers: new Headers()}).then(function(response){
            if(response.ok)
              console.log("informacion enviada");
            else
              console.log("error al enviar a /endpoint-api");
            //   this.$router.push('/');
          }).catch(function(error){
              console.log("error de la red");
              console.log(error.message);
            //   this.$router.push('/');
          });
        }
  }
}
</script>

<style>
    .contenedor-form{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        
    }
    .fila-form{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 25vw;
        margin: 1rem;
        border-radius: 4px;
        /* height: 20vh; */
    }
    
    .fila-form > input, textarea{
        width: inherit;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--colorPrincipal);
        font-size: 1.2rem;
    }
    
    #btn-form-contacto{
        padding: .5rem 1rem;
        background-color: var(--colorPrincipal);
        color: var(--colorLink);
        border-color: var(--colorPrincipal);
        border-radius: 4px;
    }
    textarea{
        height: 7rem;
        resize: none;
    }
    label{
      font-weight: 600;
    }
</style>
