<template lang="pug">
  div
    h1 {{msg}}
    div(class='imgInfo')
      img(src='src/assets/imgMuestra.png')
      p {{info}}
</template>

<script>
export default {
    name: 'quienesSomos',
    data(){
        return {
            msg: "Quienes Sómos",
            info: "Contamos con mas de 10 años de experiencia en la industria, investigando y desarrollando " +
             "soluciones innovadoras que mejoran la eficacia de los procesos dentro de su modelo de produccion, "+
             "siendo estás personalizadas de acuerdo a sus nececidades. "
            }
    }
}
</script>

<style scoped>
    
    p{
        color:black;
        max-width: 25%;
        text-align: justify;
    }
    .imgInfo{
        margin-left: 16vw;
        margin-right: 16vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    img{
        min-width: 200px;
        min-height: 200px;
        max-width: 250px;
        max-height: 250px;
        margin-right: 1rem;
    }
    
</style>

