<template lang="pug">
  div(class="contenedor")
    h1 {{msg}}
    div(class="grid")
      li(class='itemGrid' v-for='servicio in servs' :key='servicio.pos' :id='`item${servicio.pos}`')
        img(src='src/assets/imgMuestra.png')
        div(class='item-sub-col')
          span {{servicio.tipo}}
          span {{servicio.descripcion}}
          
</template>

<script>
export default {
    name: 'servicios',
    data(){
      return {
        msg:"Nuestros servicios",
        servs:[
          {pos:1,tipo: "servicio 1 qwerwqe rasdfqwe asdfasdfasdf asdf", descripcion:"descripcion 1 ", desc:false},
          {pos:2,tipo:"servicio 2 qwersdf asdfxz sadfsadfasdfas ", 
            descripcion:"descripcion 2 asdfsadf sadfrhykjsdkalfiqwerupi skdafj skjdflksa  wqekrjqpwioeru qweoirupqweiur poiqweur salkdfj",
            desc:false},
          {pos:3,tipo:"servicio 3", descripcion:"descripcion 3 asdfasdfwqe sasdfwqer  ", desc:false},
          {pos:4,tipo:"servicio 4 fghgujtyu dfh tyu tgyju", 
          descripcion:"descripcion 4 qwerwq erasghjhgk dtyasdfsadfdfsa",desc:false}
        ]
      }
    }
}
</script>
<style scoped>
  .grid{
    display: grid;
    width: 80vmax;
    grid-template: repeat(4,1fr) / repeat(4,1fr);
    grid-gap: 10px;
    grid-auto-columns: minmax(50px,70px);
    grid-auto-rows: minmax(50px,70px);
    padding: 0;
    margin:  0 auto;
  }
  .itemGrid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(72, 132, 192, 0.2);
    /* background-color: rgba(128, 128, 128, 0.2); */
    text-align: justify;
  }
  .itemGrid:hover{
    background-color: rgba(72, 132, 192, 0.5);
  }
  .item-sub-col{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 1vw;
    margin-top: 3vw;
  }
  .item-sub-col :first-child{
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  #item1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border-top-left-radius: 6px;
  }
  #item2{
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    border-top-right-radius: 6px;
  }
  #item3{
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    border-bottom-left-radius: 6px;
  }
  #item4{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    border-bottom-right-radius: 6px;
  }
  img{
      max-width: 200px;
      max-height: 200px;
      margin: 1vw;
        /* align-self: flex-start; */
    }
  .contenedor{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
</style>
