<template lang="pug">
  div(id="app")
    header
      nav
         router-link(to='/' class='logo')
           img(src='src/assets/logo2.png')
         router-link(to='/' exact style='margin-left:auto') Inicio
         router-link(to='/nosotros' exact style='margin-left:3rem') Quienes Sómos
         router-link(to='/servicios' exact style='margin-left:3rem') Servicios
         router-link(to='/contacto' exact style='margin-left:3rem;margin-right:auto;') Contacto
    
    
    main
      transition(name='fade' mode='out-in')
        router-view
    footer
      app_footer
</template>

<script>

import app_footer from "./componentes/app-footer.vue"

export default {
  name: 'app',
  // data () {
  // },
  components:{
    app_footer
  }
}
</script>

<style>
:root{
  --colorPrincipal: rgb(72, 132, 192);
  --colorSecundario: rgb(189, 211, 226);
  --colorOscuroPrincipal: rgb(74, 103, 122);
  --colorFuente: #2c3e50;
  --colorLink: aliceblue;
}
html, body{
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: var(--colorSecundario);
  overflow-x: hidden;
}
#app {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--colorFuente);
  /* background-color: var(--colorSecundario); */
}

main{
  min-width: 80vw;
  flex: 3;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  background-color: var(--colorPrincipal);
}
a{
  text-decoration: none;
  color: var(--colorLink);
}
nav .router-link-active,
nav .router-link-exact-active{
  font-weight: 700;
}
.logo{
  margin-top: .25rem;
  margin-left: 15vw;
}

.fade-enter-active, .fade-leave-active{
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
</style>
